In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('churn_modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#preprocessing of the data
data = data.drop(['RowNumber' , 'CustomerId', 'Surname'],axis = 1)

In [5]:
#Encode Categorical Variable
label_encoder_gender = LabelEncoder()

In [6]:
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
#One HHot Encoding for Geography
oneHot_encoder_Geography = OneHotEncoder(handle_unknown = 'ignore')
geo_encoded = oneHot_encoder_Geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = oneHot_encoder_Geography.get_feature_names_out(['Geography']))

In [8]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
#Combinig Onehotencoding with the main data
data = pd.concat([data.drop('Geography',axis = 1),geo_encoded_df], axis = 1)

In [10]:
data.head(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
#SPlit the data into features and target
X = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [12]:
X.shape

(10000, 12)

In [13]:
y.shape

(10000,)

In [14]:
X_train, X_test, y_train , y_test = train_test_split(X, y , test_size = 0.2, random_state = 42)

In [15]:
#Scaling these Features
Scaler = StandardScaler()
X_train = Scaler.fit_transform(X_train)
X_test = Scaler.fit_transform(X_test)

In [16]:
#Save the encoder and scalar for later
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(oneHot_encoder_Geography , file)
with open('scaler.pkl', 'wb') as file:
    pickle.dump(Scaler, file)

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
#Build the model
model = Sequential([
    Dense(64, activation = 'relu',input_shape = (X_train.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1) #Output Layer For regression
    
])

C:\Users\titvi\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
#Compile the model
model.compile(optimizer = 'adam',loss = 'mean_absolute_error',metrics = ['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime


#SetupTensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%M%d-%H%M%S")
tensorboard_callback= TensorBoard(log_dir = log_dir, histogram_freq  =1 )

In [21]:
#Setup EarlY Stopping 
early_stopping_callback = EarlyStopping(monitor = 'val_loss',patience = 10, restore_best_weights = True)

In [22]:
#TRain the model
history = model.fit(
    X_train , y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 99571.0859 - mae: 99571.0859 - val_loss: 98419.9375 - val_mae: 98419.9375
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99733.3047 - mae: 99733.3047 - val_loss: 96388.9297 - val_mae: 96388.9297
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97524.2812 - mae: 97524.2812 - val_loss: 91379.5859 - val_mae: 91379.5859
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 89479.6016 - mae: 89479.6016 - val_loss: 83347.9688 - val_mae: 83347.9688
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 81862.8750 - mae: 81862.8750 - val_loss: 73611.2109 - val_mae: 73611.2109
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 72220.6172 - mae: 72220.6172 - val_loss: 64321.7148 - val_mae: 64321.7148
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 63584.3633 - mae: 63584.3633 - val_loss: 57144.6953 - val_mae: 57144.6953
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 56460.7695 - mae: 56460.7695 - val_loss: 53057.4766 - val_mae: 53057.4766
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52847.0391 - mae: 52847.0391 - val_loss: 51295.2070 - val_mae: 51295.2070
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51588.9883 - mae: 51588.9883 - val_loss: 50710.7422 - val_mae: 50710.7422
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50920.8984 - mae: 50920.8984 - val_loss: 50567.7617 - val_mae: 50567.7617
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49879.5195 - mae: 49879.5195 - val_loss: 50522.4883 - val_mae: 50522.4883
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50043.8438 - mae: 50043.8438 - val_loss: 50493.7188 - val_mae: 50493.7188
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50219.8242 - mae: 50219.8242 - val_loss: 50468.0469 - val_mae: 50468.0469
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50315.2500 - mae: 50315.2500 - val_loss: 50446.3281 - val_mae: 50446.3281
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49780.9102 - mae: 49780.9102 - val_loss: 50421.2578 - val_mae: 50421.2578
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49659.1523 - mae: 49659.1523 - val_loss: 50401.4297 - val_mae: 50401.4297
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50094.2773 - mae: 50094.2773 - val_loss: 50387.9609 - val_mae: 50387.9609
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50015.2188 - mae: 50015.2188 - val_loss: 50371.0547 - val_mae: 50371.0547
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49466.6992 - mae: 49466.6992 - val_loss: 50363.2070 - val_mae: 50363.2070
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50229.5234 - mae: 50229.5234 - val_loss: 50347.9414 - val_mae: 50347.9414
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49518.8750 - mae: 49518.8750 - val_loss: 50326.1797 - val_mae: 50326.1797
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49756.3125 - mae: 49756.3125 - val_loss: 50324.4648 - val_mae: 50324.4648
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49604.1719 - mae: 49604.1719 - val_loss: 50318.2070 - val_mae: 50318.2070
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49492.8984 - mae: 49492.8984 - val_loss: 50298.0156 - val_mae: 50298.0156
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49858.6992 - mae: 49858.6992 - val_loss: 50294.0859 - val_mae: 50294.0859
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50327.0547 - mae: 50327.0547 - val_loss: 50286.5703 - val_mae: 50286.5703
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49266.1094 - mae: 49266.1094 - val_loss: 50292.6250 - val_mae: 50292.6250
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49920.3672 - mae: 49920.3672 - val_loss: 50285.2344 - val_mae: 50285.2344
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49868.3008 - mae: 49868.3008 - val_loss: 50280.3906 - val_mae: 50280.3906
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49537.8945 - mae: 49537.8945 - val_loss: 50290.7422 - val_mae: 50290.7422
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49870.4844 - mae: 49870.4844 - val_loss: 50274.3828 - val_mae: 50274.3828
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49242.4023 - mae: 49242.4023 - val_loss: 50270.9570 - val_mae: 50270.9570
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49750.7539 - mae: 49750.7539 - val_loss: 50274.0859 - val_mae: 50274.0859
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49346.4688 - mae: 49346.4688 - val_loss: 50265.2383 - val_mae: 50265.2383
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49367.1719 - mae: 49367.1719 - val_loss: 50269.9766 - val_mae: 50269.9766
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49376.7617 - mae: 49376.7617 - val_loss: 50273.5039 - val_mae: 50273.5039
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50120.5508 - mae: 50120.5508 - val_loss: 50277.0273 - val_mae: 50277.0273
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50055.0898 - mae: 50055.0898 - val_loss: 50279.1875 - val_mae: 50279.1875
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49735.5625 - mae: 49735.5625 - val_loss: 50271.5508 - val_mae: 50271.5508
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49511.8242 - mae: 49511.8242 - val_loss: 50277.9805 - val_mae: 50277.9805
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49267.8789 - mae: 49267.8789 - val_loss: 50274.2461 - val_mae: 50274.2461
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50007.9648 - mae: 50007.9648 - val_loss: 50269.2305 - val_mae: 50269.2305
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49113.9922 - mae: 49113.9922 - val_loss: 50278.1680 - val_mae: 50278.1680
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49758.4922 - mae: 49758.4922 - val_loss: 50287.2344 - val_mae: 50287.2344

In [23]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 36168), started 4 days, 12:41:18 ago. (Use '!kill 36168' to kill it.)

In [25]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51128.2070 - mae: 51128.2070
Test MAE : 50265.23828125